.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.task{
  font-weight: bold;
}
.task-done {

opacity: 0.5;
text-decoration: line-through;
color: rgb(0, 0, 0);


}

.btn-filter {
  background-color: rgb(238, 0, 255);
  color: rgb(255, 255, 255);
  border:2px solid #00aeff;
}
.noFilter{
  background-color: rgb(255, 250, 0);
}
.empty-value-error{
  border:2px solid red;
  outline: none;
  color: red;
}