.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.task{
  font-weight: bold;
}
.task-done {

opacity: 0,5;
text-decoration: line-through;
color: rgb(0, 0, 0);


}

.btn-filter {
  background-color: rgb(238, 0, 255);
  color: rgb(255, 255, 255);
}